@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

/* @media (prefers-color-scheme:) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1, h2 {
  margin: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gallery {
  display: grid;
  gap: 0.75rem; /* Space between items */
  padding: 16px;
  grid-template-columns: repeat(auto-fit, minmax(max(45px,10%), 1fr));
  /* Dynamically create columns based on available space */
  justify-content: center; /* Center the grid items horizontally */
}

.gallery img {
  width: 100%; /* Make images responsive */
  height: auto;
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

.backface-hidden {
  backface-visibility: hidden;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
